#search-panel
  %h1.text-center
    Twitter Search

  #tagline
    %p
      Twitter handles search that
      %span.label.label-success just
      works.

  #social.hidden-xs
    %iframe{id: "gh-fork", src: "http://ghbtns.com/github-btn.html?user=algolia&repo=twitter-search&type=fork", allowtransparency: "true", frameborder: "0", scrolling: "0", width: "53px", height: "20px"}
    %iframe{id: "gh-start", src: "http://ghbtns.com/github-btn.html?user=algolia&repo=twitter-search&type=watch&count=true", allowtransparency: "true", frameborder: "0", scrolling: "0", width: "110px", height: "20px"}
    %a.twitter-follow-button{href: "https://twitter.com/algolia", "data-show-count" => "false", "data-show-screen-name" => "true"}Follow @algolia
    %a.twitter-share-button{href: "https://twitter.com/share", "data-url" => root_url, "data-via" => "algolia"} Tweet

  .search_box-wrapper
    .search_box
      %form#search-form{method: "get", action: '#', onsubmit: 'return false;'}
        #inputfield
          %input.autocomplete{autocomplete: 'off', placeholder: 'Find People by Name or Handle', type: 'text', spellcheck: 'false'}
        .searchbutton
          %i.glyphicon.glyphicon-search
        #hits
  .text-center
    - cache 'handles_indexed', expires_in: 15.minute do
      %span.label.label-default= number_with_delimiter Handle.count
      Twitter handles have been indexed so far.
      %div
        = link_to '#modal-add-yours', "data-toggle" => "modal" do
          %strong +
          Add yours


.modal.fade#modal-add-yours
  .modal-dialog
    .modal-content
      .modal-header
        %button{type: "button", class: "close", "data-dismiss" => "modal", "aria-hidden" => true} &times;
        %h3.modal-title Add your twitter account
      .modal-body
        .text-center
          %p If you want to be searchable, connect your Twitter account:
          %p
            = link_to '/auth/twitter', class: 'btn btn-large btn-twitter' do
              = image_tag 'bird_blue_16.png'
              Add my Twitter Handle

:javascript
  $(document).ready(function() {
    new TwitterSearch('#{ENV['ALGOLIASEARCH_APPLICATION_ID']}', '#{ENV['ALGOLIASEARCH_API_KEY_RO']}', '#{Handle.index_name}');
  });
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32446386-1']);
  _gaq.push(['_setDomainName', 'algolia.io']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview', '/twitter-search']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
