!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Twitter Search powered by Algolia'
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
  %body
    %span#forkongithub.hidden-xs
      = link_to 'Fork me on GitHub', 'https://github.com/algolia/twitter-search', target: '_blank'

    %main#page{:role => "main"}
      = render 'layouts/messages'
      = yield

    %footer.text-center
      %hr
      Made with <i class="text-danger">&hearts;</i> in Paris,
      powered by
      = link_to image_tag("//d3ibatyzauff7b.cloudfront.net/assets/algolia128x40.png", style: 'height: 1em; display: inline;', alt: 'Algolia'), "http://www.algolia.com", onclick: "_gaq.push(['_link', 'http://www.algolia.com']); return false;", title: 'Hosted full-text, numerical, faceted search'
